# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# build
dist/

# typescript
tsconfig.tsbuildinfo
*.tsbuildinfo

# env
.env
.env*.local

# vercel
.vercel

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
